@import '../../assets/scss/var';
@import '../../assets/scss/blocks';

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  background: $main-theme-color;
  justify-content: space-between;

  &__item {
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    transition: .3s;
    text-decoration: none;

    &:active, &:visited {
      color: $white-color;
    }

    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.2);
    }
  }
}
