$main-theme-color: #673ab7;
$font-size: 14px;
$pink-color: rgba(249, 36, 43, 0.6);
$green-color: rgba(17, 128, 48, 0.65);
$gray-color: #dcdcdc;
$light-gray-color: #f1f0f0;
$dark-gray-color: #a9a9a9;
$white-color: #fffff;
$black-color: #000000;
$red-color: #ff0000;
