@import '../../../assets/scss/blocks';

.event-list {
  max-width: 40%;
  margin: 0 auto;

  @media (max-width: 1200px) {
    max-width: 70%;
  }

  @media (max-width: 600px) {
    max-width: 95%;
  }

  &--empty {
    font-size: 20px;
  }

  &--error {
    font-size: 18px;
    color: $red-color;
  }
}

.event-filter {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 40%;
}

app-event {
  outline: 0;
}
