@import '../var';

.mat-input {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;

  &__label {
    padding: 5px 0;
    font-size: 12px;
  }

  &__el {
    flex-grow: 1;
    border-radius: 2px;
    background-color: $black-color;
    border: solid 1px #eeeeee;
    height: 24px;
    -moz-appearance: none;
    padding: 2px 18px 2px 9px;
    outline: 0;

    &--area {
      height: 40px;
      resize: none;
    }

    &.ng-invalid.ng-touched {
      box-shadow: inset 0 0 2px 0 $red-color;
    }
  }
}

.mat-form-group {
  display: inline-flex;
  align-items: flex-end;
  width: 100%;
}
